/* styleHeaderFooter.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #FFFFFF;
    color: white;
    padding: 0.1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    width: 10%;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: x-large;
    padding: 0rem 2rem;
}

.nav-links a:hover {
    color: hsl(118, 100%, 24%);
}

.buttons i{
    color: black;
}

main {
    flex: 1;
    padding: 2rem 0rem;
}

footer {
    background-color: #F2F2F2;
    color: black;
    padding: 1.5rem 2rem;
    box-shadow: 2px -5px rgba(0,0,0,0.1);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-info {
    display: flex;
    gap: 2rem;
}

.contact-us {
    font-size: x-large;
    font-weight: bold;
}

.copyright {
    font-size: 0.9rem;
    opacity: 0.8;
    text-align: end;
}

